# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
.env

# macOS
.DS_Store

# Data
data/

# Model checkpoints
checkpoints/
*.pth
*.pt


#weights and biases
wandb/
notebooks/wandb/



SETTINGS.MD

#OTHER
gradcam_sample.png
predictions_sample.png
testing.py